<launch>
    <node pkg="air_challenge_real" type="get_him.py" name="RobotGetHim" output="screen">
        <remap from="RobotRunAway/cmd_vel" to="/cmd_vel"/>
        <remap from="RobotRunAway/image_raw" to="/camera/rgb/image_raw"/>
        <remap from="RobotRunAway/depth_image" to="/camera/depth/image"/>
        <remap from="RobotRunAway/depth_info" to="/camera/depth/camera_info"/>
        <remap from="RobotRunAway/scan" to="/scan"/>
        <param name="robot_frame" value="base_link"/>
        <param name="map_topic" value="/map"/>
        <param name="global_frame" value="map"/>
        <param name="info_radius" value="1"/> 
        <param name="hysteresis_radius" value="3.0"/> 
        <param name="hysteresis_gain" value="2.0"/> 
        <param name="frontiers_topic" value="/filtered_points"/> 
        <param name="n_robots" value="1"/>
        <param name="namespace" value=""/>
        <param name="delay_after_assignement" value="0.5"/>
        <param name="rate" value="100"/>
        <param name="plan_service" value="/move_base/GlobalPlanner/make_plan"/>
        <param name="info_multiplier" value="3.0"/> 
    </node>
</launch>
